section
	.content-title
		h2 Categories
	.row.content.content-play-margin
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		.col-md-3.col-sm-4.col-xs-12.item-wrap
			.item-video
			.item-discr
				.cat-item-title Amateur
				.cat-item-all <span>10932</span> Videos
		