footer.footer
	.container
		.col-md-3.col-sm-4.col-xs-12
			nav.footer-menu
				ul.footer-list
					li.menu-item
						h3 Information
					li.menu-item 
						a.menu--link(href="#") Terms and conditions
					li.menu-item 
						a.menu--link(href="#") Privacy policy
					li.menu-item 
						a.menu--link(href="#") DMCA
		.col-md-3.col-sm-4.col-xs-12
			nav.footer-menu
				ul.footer-list
					li.menu-item
						h3 Work with us
					li.menu-item 
						a.menu--link(href="#") Content
					li.menu-item 
						a.menu--link(href="#") Advertise
					li.menu-item 
						a.menu--link(href="#") Webmasters
		.col-md-3.col-sm-4.col-xs-12
			nav.footer-menu
				ul.footer-list
					li.menu-item
						h3 Support &amp; help
					li.menu-item 
						a.menu--link(href="#") Contact support
					li.menu-item 
						a.menu--link(href="#") Sitemap
		.col-md-3.col-xs-12.col-sm-12
			.copy-wrap
				h1.footer-title Your Site Logo 280x50
				.footer-copy All Right Reserved &copy; <a href="#">www.psdtemplate.com</a>, 2015



			






	
