.content-title
	h2 Video Description
.row
	.col-md-8.col-sm-10.col-xs-12.item_play-wrap
		.item_play-video
			a.play-wrap
				i.fa.fa-play
		.item_play-discr--wrap
			.item_play-discr
				.item_play-like
					a.like-finger(href="#"): i.fa.fa-thumbs-o-up
					.like-procent
						.procent <span>50%</span> (<span>0/0</span>)
						.procent-line
							span.active
							span.active
							span.active
							span.active
							span.active
							span
							span
							span
							span
							span
					a.like-finger(href="#"): i.fa.fa-thumbs-o-down
					.like-share.hidden-xs
						a(href="#"): i.fa.fa-code-fork
						span Share or Embed
				.item_play-info
					.categories-wrap
						span.cat-title Categories:
						a.cat-link(href="#") Amateur,
						a.cat-link(href="#") Anal,
						a.cat-link(href="#") Babes
					.added-wrap
						.added
							span.cat-title Added:
							span.cat-time 20 minutes ago
						.duration
							span.cat-title Duration:
							span.cat-duration 5:00
						.item-like
							a.item-like--link: i.fa.fa-heart 
							span.cat-title Likes:
							span 0





