@font-face {
	font-family: 'Myriad';
	src: url('../fonts/myriadpro/myriadpro.eot');
	src: url('../fonts/myriadpro/myriadpro.eot?#iefix') format('embedded-opentype'),
	url('../fonts/myriadpro/myriadpro.woff') format('woff'),
	url('../fonts/myriadpro/myriadpro.ttf') format('truetype'),
	url('../fonts/myriadpro/myriadpro.svg#myriadpro') format('svg');
	font-style: normal;
	font-weight: normal;
}